html {
  background-color: lightblue;
  padding: 50px;
}
*{
  color: blue
}
.glowny{
  text-align: center;
}
.detal{
  display: grid;
  grid-template-columns: 220px auto;

}
img{
  margin-right: 20px;
  margin-bottom: 20px;
}
